* {
				-webkit-box-sizing: border-box;
			}			
			html,
			body {
				margin: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				font-size: 0.16rem;
			}
			.swiper-slide{
				width: 100%;
				height: 5.68rem;
				background: #6daf45;
				text-align: center;
				color: #fff;
			}
			.swiper-slide img{
				width: 3rem;
				margin-top:1.5rem;
				margin-left: 0.1rem;
			}
			.swiper-slide button{
				width: 1.5rem;
				height: 0.4rem;
				border-radius: 0.06rem;
				outline: none;
				border: none;
				background: #fff;
			}
			.swiper-slide button a{
				text-decoration: none;
				font-size: 0.18rem;
				font-weight:500;				
				color: #6daf45;
			}