<!--第一页-->
<div class="section_container">
	<!--轮播图-->
	<div id="jiaodiantu">
		<div class='swipe-wrap'>
			<div><img src="img/index/ban1.png" /></div>
			<div><img src="img/index/ban2.png" /></div>
			<div><img src="img/index/ban3.png" /></div>
			<div><img src="img/index/ban4.png" /></div>
		</div>
		<ul class="xiaoyuandian">
			<li class="cur"></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<ul class="plate">
		<li>
			<img src="img/index/预约挂号.png" />
			<p>
				<a href="#">预约挂号</a>
			</p>
		</li>
		<li>
			<img src="img/index/在线咨询.png" />
			<p>
				<a href="#">在线咨询</a>
			</p>
		</li>
		<li>
			<img src="img/index/心脏.png" />
			<p>
				<a href="#">疾病导视</a>
			</p>
		</li>
		<li>
			<img src="img/index/医生.png" />
			<p>
				<a href="#">私人医生</a>
			</p>
		</li>
	</ul>
	<div class="doc-recommend">
		<div class="rec">
			<img src="img/index/推荐.png" />
			<h3>名医推荐</h3>
			<a href="#">更多></a>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper swiper-wrapper1">
				<div class="swiper-slide">
					<div><img src="img/index/d1.png" /></div>
					<p>Andy</p>
					<p>骨伤科</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/d2.png" /></div>
					<p>李慧</p>
					<p>妇产科</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/d3.png" /></div>
					<p>曲小青</p>
					<p>呼吸科</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/d4.png" /></div>
					<p>张小依</p>
					<p>骨伤科</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/d5.png" /></div>
					<p>李洁</p>
					<p>妇产科</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/d6.png" /></div>
					<p>周海池</p>
					<p>呼吸科</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/d7.png" /></div>
					<p>Jenny</p>
					<p>呼吸科</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/d8.png" /></div>
					<p>Peter</p>
					<p>骨伤科</p>
				</div>
			</div>
		</div>
	</div>
	<div class="doc-recommend">
		<div class="rec">
			<img src="img/index/推荐.png" />
			<h3>医院推荐</h3>
			<a href="#">更多></a>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper swiper-wrapper2">
				<div class="swiper-slide">
					<div><img src="img/index/h1.png" /></div>
					<p></p>
					<p>广东省第二人民医院</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/h2.png" /></div>
					<p></p>
					<p>广东省人民医院</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/h3.png" /></div>
					<p></p>
					<p>中西医结合医院</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/h4.png" /></div>
					<p></p>
					<p>珠江医院</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/h5.png" /></div>
					<p></p>
					<p>南方医院</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/h6.png" /></div>
					<p></p>
					<p>友好医院</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/h7.png" /></div>
					<p></p>
					<p>一五七医院</p>
				</div>
				<div class="swiper-slide">
					<div><img src="img/index/h8.png" /></div>
					<p></p>
					<p>广东省中医院</p>
				</div>
			</div>
		</div>
	</div>
</div>