<div class="section_container">
	<div class="plate3">
		<div class="plate3-head">
			<ul>
				<li class="current">全部</li>
				<li>精品</li>
				<li>置顶</li>
				<li>社区</li>
			</ul>	
		</div>
		<div class="plate3-body">
			<div class="circle">
				<div class="circle_head">
					<div>
						<img class="portrait" src="img/index/head1.jpg"/>
						<div class="mess">
							<p>刘雨馨</p>
							<span>2016年4月15日</span><span>16:00</span>
						</div>
					
					</div>
					<div class="through">
						<span>浏览1230▼</span>
					</div>
				</div>
				<p>健康食品</p>
				<p class="describe">上个月预约去看的医生推荐我吃的食谱，很有效，健康美颜又能瘦身，推荐给各位亲，也希望你们能有一个健康的生活方式。</p>
			    <ul>
			    	<li><img src="img/index/show1.png"/></li>
			    	<li><img src="img/index/show2.png"/></li>
			    	<li><img src="img/index/show3.png"/></li>
			    </ul>
			    <div class="comment">
			    	<a class="praise" href="javascript:;"><i class="iconfont2">&#xe602;</i><span>点赞</span></a>
			    	<a href="#"><i class="iconfont2">&#xe64a;</i><span>分享</span></a>
			    	<a href="#"><i class="iconfont2">&#xe61f;</i><span>评论</span></a>
			    </div>
			</div>
			<div class="circle">
				<div class="circle_head">
					<div>
						<img class="portrait" src="img/index/head2.jpg"/>
						<div class="mess">
							<p>张扬</p>
							<span>2016年3月10日</span><span>13:00</span>
						</div>
					
					</div>
					<div class="through">
						<span>浏览2132▼</span>
					</div>
				</div>
				<p>高级医院</p>
				<p class="describe">这医院设备看上去是不是很高级啊，感觉住的不是医院而是五星级宾馆啊有木有</p>
			    <ul>
			    	<li><img src="img/index/show4.png"/></li>
			    	<li><img src="img/index/show5.png"/></li>
			    	<li><img src="img/index/show6.png"/></li>
			    </ul>
			    <div class="comment">
			    	<a class="praise" href="javascript:;"><i class="iconfont2">&#xe602;</i><span>点赞</span></a>
			    	<a href="#"><i class="iconfont2">&#xe64a;</i><span>分享</span></a>
			    	<a href="#"><i class="iconfont2">&#xe61f;</i><span>评论</span></a>
			    </div>
			</div>
			<div class="circle">
				<div class="circle_head">
					<div>
						<img class="portrait" src="img/index/head1.jpg"/>
						<div class="mess">
							<p>刘雨馨</p>
							<span>2016年4月15日</span><span>16:00</span>
						</div>
					
					</div>
					<div class="through">
						<span>浏览1230▼</span>
					</div>
				</div>
				<p>健康食品</p>
				<p class="describe">上个月预约去看的医生推荐我吃的食谱，很有效，健康美颜又能瘦身，推荐给各位亲，也希望你们能有一个健康的生活方式。</p>
			    <ul>
			    	<li><img src="img/index/show1.png"/></li>
			    	<li><img src="img/index/show2.png"/></li>
			    	<li><img src="img/index/show3.png"/></li>
			    </ul>
			    <div class="comment">
			    	<a class="praise" href="javascript:;"><i class="iconfont2">&#xe602;</i><span>点赞</span></a>
			    	<a href="#"><i class="iconfont2">&#xe64a;</i><span>分享</span></a>
			    	<a href="#"><i class="iconfont2">&#xe61f;</i><span>评论</span></a>
			    </div>
			</div>
			<div class="circle">
				<div class="circle_head">
					<div>
						<img class="portrait" src="img/index/head2.jpg"/>
						<div class="mess">
							<p>张扬</p>
							<span>2016年3月10日</span><span>13:00</span>
						</div>
					
					</div>
					<div class="through">
						<span>浏览2132▼</span>
					</div>
				</div>
				<p>高级医院</p>
				<p class="describe">这医院设备看上去是不是很高级啊，感觉住的不是医院而是五星级宾馆啊有木有</p>
			    <ul>
			    	<li><img src="img/index/show4.png"/></li>
			    	<li><img src="img/index/show5.png"/></li>
			    	<li><img src="img/index/show6.png"/></li>
			    </ul>
			    <div class="comment">
			    	<a class="praise" href="javascript:;"><i class="iconfont2">&#xe602;</i><span>点赞</span></a>
			    	<a href="#"><i class="iconfont2">&#xe64a;</i><span>分享</span></a>
			    	<a href="#"><i class="iconfont2">&#xe61f;</i><span>评论</span></a>
			    </div>
			</div>
		</div>  
		<div class="plate3-body">
			<span>更多精品，敬请期待</span>
		</div>
		<div class="plate3-body">
			<span>您关注的内容还没上线，敬请期待</span>
		</div>
		<div class="plate3-body">
			<span>一大波评论即将来袭</span>
		</div>
	</div>
</div>
